.botao-novo,
.botao-editar,
.botao-salvar,
.botao-cancelar,
.botao-conta,
.botao-cadastro{
    -fx-background-size: 13px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 8;
    -fx-padding: 8 0 8 16; 
}

.botao-novo {
    -fx-background-image: url('../img/add-1.png');
}

.botao-editar {
    -fx-background-image: url('../img/edit.png');
}

.botao-salvar {
    -fx-background-image: url('../img/save.png');
}

.botao-cancelar {
    -fx-background-image: url('../img/error.png');
}

.botao-conta{
    -fx-background-image: url('../img/dollars.png');
}

.botao-cadastro{
    -fx-background-image: url('../img/folder-6.png');
}